#  Veri Bilimi İçin İstatistik

### Örnek Teorisi

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,80,10000)

In [4]:
populasyon[0:10]

array([27, 76, 28, 57, 38, 60, 63, 29, 73, 21])

In [9]:
#örneklem çekimi
np.random.seed(115) #fonksiyonu tekrar çalıştırdığımızda 
                #aynı örneklemleri çekmemizi sağlar
orneklem = np.random.choice(a=populasyon, size =100) #Populasyonun üzerinden 
                                            #rastgele x (100) tane örnek çek 
orneklem[0:10]

array([34, 17, 21, 39, 69, 14,  0, 37, 57, 49])

In [10]:
orneklem.mean()

35.29

In [11]:
populasyon.mean()

39.2463

In [12]:
#örneklem dağılımı

In [13]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size=100)
orneklem2 = np.random.choice(a = populasyon, size=100)
orneklem3 = np.random.choice(a = populasyon, size=100)
orneklem4 = np.random.choice(a = populasyon, size=100)
orneklem5 = np.random.choice(a = populasyon, size=100)
orneklem6 = np.random.choice(a = populasyon, size=100)
orneklem7 = np.random.choice(a = populasyon, size=100)
orneklem8 = np.random.choice(a = populasyon, size=100)
orneklem9 = np.random.choice(a = populasyon, size=100)
orneklem10 = np.random.choice(a = populasyon, size=100)

In [14]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() +orneklem4.mean()
+orneklem5.mean()+orneklem6.mean() + orneklem7.mean() + orneklem8.mean() +
 orneklem9.mean() + orneklem10.mean())/10

39.11900000000001

### Betimsel İstatistikler

In [15]:
import seaborn as sns
tips= sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [18]:
!pip install researchpy

Collecting researchpy
  Using cached researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: statsmodels in c:\users\hilal-pc\anaconda3\lib\site-packages (from researchpy) (0.12.0)
Requirement already satisfied: patsy in c:\users\hilal-pc\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: scipy in c:\users\hilal-pc\anaconda3\lib\site-packages (from researchpy) (1.5.2)
Requirement already satisfied: numpy in c:\users\hilal-pc\anaconda3\lib\site-packages (from researchpy) (1.19.2)
Requirement already satisfied: pandas in c:\users\hilal-pc\anaconda3\lib\site-packages (from researchpy) (1.1.3)
Requirement already satisfied: six in c:\users\hilal-pc\anaconda3\lib\site-packages (from patsy->researchpy) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\hilal-pc\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hilal-pc\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [19]:
import researchpy as rp

In [20]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [22]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [23]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [24]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

### İş Uygulaması: Fiyat Stratejisi Karar Destek

In [36]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000)
fiyatlar.mean()

58.762

In [37]:
import statsmodels.stats.api as sms

In [38]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(57.00554047258327, 60.51845952741673)

## Olasılık Dağılımları

### Bernoulli Dağılımı

In [39]:
from scipy.stats import bernoulli

In [40]:
p= 0.6

In [43]:
rv = bernoulli(p)
rv.pmf(k=1) #probability mass functions
#şu an k'nin true olması olayı ile ilgileniyoruz

0.6

In [45]:
rv.pmf(k=0) #şu an ise k'nin false olması olayı ile ilgileniyoruz

0.4

## Büyük Sayılar Yasası

In [48]:
import numpy as np
rng = np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi=2**i
    yazi_turalar= rng.randint(0,2, size=deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atis sayisi: ", deney_sayisi,"---- Yazi Olasiligi: %.2f" % (yazi_olasiliklari*100))

Atis sayisi:  2 ---- Yazi Olasiligi: 50.00
Atis sayisi:  4 ---- Yazi Olasiligi: 0.00
Atis sayisi:  8 ---- Yazi Olasiligi: 62.50
Atis sayisi:  16 ---- Yazi Olasiligi: 43.75
Atis sayisi:  32 ---- Yazi Olasiligi: 46.88
Atis sayisi:  64 ---- Yazi Olasiligi: 56.25
Atis sayisi:  128 ---- Yazi Olasiligi: 50.78
Atis sayisi:  256 ---- Yazi Olasiligi: 52.73
Atis sayisi:  512 ---- Yazi Olasiligi: 52.93
Atis sayisi:  1024 ---- Yazi Olasiligi: 50.20
Atis sayisi:  2048 ---- Yazi Olasiligi: 48.58
Atis sayisi:  4096 ---- Yazi Olasiligi: 49.49
Atis sayisi:  8192 ---- Yazi Olasiligi: 49.58
Atis sayisi:  16384 ---- Yazi Olasiligi: 49.96
Atis sayisi:  32768 ---- Yazi Olasiligi: 50.00
Atis sayisi:  65536 ---- Yazi Olasiligi: 49.68
Atis sayisi:  131072 ---- Yazi Olasiligi: 49.97
Atis sayisi:  262144 ---- Yazi Olasiligi: 50.13
Atis sayisi:  524288 ---- Yazi Olasiligi: 50.01
Atis sayisi:  1048576 ---- Yazi Olasiligi: 50.09

## Binom Dağılımı

In [49]:
from scipy.stats import binom

In [52]:
p=0.01
n=100
rv = binom(n,p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764971983
0.0028977871237616114
7.006035693977161e-08

## Poison Dağılımı

In [1]:
from scipy.stats import poisson

In [2]:
lambda_=0.1

In [4]:
rv = poisson(mu=lambda_)
print(rv.pmf(k=0))

0.9048374180359595

In [5]:
print(rv.pmf(k=3))

0.00015080623633932676

In [6]:
print(rv.pmf(k=5))

7.54031181696634e-08

## Normal Dağılım

In [7]:
from scipy.stats import norm

In [8]:
#90'dan fazla olması
1-norm.cdf(90,80,5) #cdf= cumulative density function
#norm.cdf(hesaplanmak istenen değer, ortalama, standart sapma)

0.02275013194817921

In [9]:
#70'den fazla olması
1-norm.cdf(70,80,5)

0.9772498680518208

In [11]:
#73'den fazla olması
norm.cdf(73,80,5)

0.08075665923377107

In [12]:
#85 ile 90 arasında olması
norm.cdf(90,80,5) - norm.cdf(85,80,5)

0.13590512198327787