# Metin Madenciliği ve Doğal Dil İşlemeye Giriş

### Metin Ön İşleme

In [1]:
import pandas as pd

metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### Stringi df/array/seriye çevirmek

In [2]:
v_metin=metin.split("\n")
v_metin

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [3]:
v= pd.Series(v_metin)
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [4]:
metin_vektoru = v[1:len(v)]
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [5]:
mdf = pd.DataFrame(metin_vektoru, columns=["hikayeler"])
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

### Büyük-Küçük Harf

**NOT: Neredeyse her aşamada verini yapısını bozmamak için kopya al!**

In [6]:
d_mdf=mdf.copy()

In [7]:
list1 =[1,2,3]
str1= " ".join(str(i) for i in list1)

In [8]:
str1

'1 2 3'

In [9]:
d_mdf=d_mdf["hikayeler"].apply(lambda x:" ".join(x.lower() for x in x.split()))

### Notalama İşaretlerinin Silinmesi

In [10]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [11]:
#d_mdf = d_mdf["hikayeler"].str.replace("[^\w\s]","")
d_mdf = d_mdf.str.replace("[^\w\s]","")
d_mdf

C:\Users\HILAL-PC\AppData\Local\Temp/ipykernel_20276/763695667.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf = d_mdf.str.replace("[^\w\s]","")

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

### Sayıların Silinmesi

In [12]:
d_mdf =d_mdf.str.replace("\d","")
d_mdf

C:\Users\HILAL-PC\AppData\Local\Temp/ipykernel_20276/53763021.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf =d_mdf.str.replace("\d","")

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

### Stopwords

In [13]:
d_mdf = pd.DataFrame(d_mdf, columns=["hikayeler"])
d_mdf

                               hikayeler
1                  a scandal in bohemia
2                   the redheaded league
3                    a case of identity
4            the boscombe valley mystery
5                   the five orange pips
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

In [14]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\hilal-pc\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\hilal-pc\anaconda3\lib\site-packages (from nltk) (8.0.1)
Requirement already satisfied: joblib in c:\users\hilal-pc\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hilal-pc\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\hilal-pc\anaconda3\lib\site-packages (from nltk) (4.62.2)
Requirement already satisfied: colorama in c:\users\hilal-pc\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [15]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to C:\Users\HILAL-
[nltk_data]     PC\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
from nltk.corpus import stopwords

In [17]:
sw = stopwords.words("english") #sık kullanılan kelimeler

In [18]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [19]:
d_mdf=d_mdf["hikayeler"].apply(lambda x:" ".join(x for x in x.split() if x not in sw))
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

### Az Geçen kelimelerin Silinmesi

In [20]:
type(d_mdf)

pandas.core.series.Series

In [21]:
d_mdf = pd.DataFrame(d_mdf, columns=["hikayeler"])

In [22]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
dtype: int64

In [23]:
sil = pd. Series(" ".join(d_mdf ["hikayeler"]).split()).value_counts()[-3:]

In [24]:
sil

league       1
redheaded    1
beeches      1
dtype: int64

In [25]:
d_mdf["hikayeler"].apply(lambda x:" ".join(i for i in x.split() if i not in sil))

1               scandal bohemia
2
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: hikayeler, dtype: object

## Tokenization

In [33]:
# Metnin boşluk, — , vb istenen özelliklere göre parçalara ayrılması (bu parçalara token deniyor). 
# Bu parçalar üzerinden token array içerisine atılması.

In [26]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to C:\Users\HILAL-
[nltk_data]     PC\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [27]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\hilal-pc\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\hilal-pc\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.1)
Requirement already satisfied: joblib in c:\users\hilal-pc\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hilal-pc\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\hilal-pc\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.2)
Requirement already satisfied: colorama in c:\users\hilal-pc\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [28]:
import textblob
from textblob import TextBlob

In [30]:
TextBlob(d_mdf["hikayeler"][1]).words

WordList(['scandal', 'bohemia'])

In [29]:
d_mdf["hikayeler"][1]

'scandal bohemia'

In [31]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).words)

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: hikayeler, dtype: object

### Stemming (Bir kelimeyi köklerine ayırmak) -> Yapılan atamalar dahilinde çok mantıklı sonuçlar çıkarmayabilir

In [34]:
from nltk import PorterStemmer
st = PorterStemmer()

In [36]:
d_mdf["hikayeler"].apply(lambda x:" ".join([st.stem(x) for x in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: hikayeler, dtype: object

### Lemmatization (Stemming'e göre daha tercih edilebilir)

In [37]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to C:\Users\HILAL-
[nltk_data]     PC\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [38]:
d_mdf["hikayeler"].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: hikayeler, dtype: object

In [39]:
mdf["hikayeler"]

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

In [40]:
d_mdf["hikayeler"]

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object